<ion-content>
  <div class="imagebox">
    <div class="overlay">
      <div class="headingtxt">
        <p>Login</p>
      </div>

    </div>
  </div>
  <div class="formbox">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <div class="buttonholder">
      <ion-button expand="block" shape="round" (click)=" loginandnavigate()">login</ion-button>
    </div>
    <div class="textdata ion-text-center" routerLink="/home">
      <p> Don't have a account? </p>
    </div>

  </div>







</ion-content>