.imagebox{
    width:100%;
    height:200px;
    background-image: url("../../assets/image/mainimg.jpg");
    background-size: cover;
    background-position: center;
}
.overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.383);
    position: relative;
}
.formbox{
    width:100%;
   
    padding: 20px;
}
.buttonholder{
   margin-top: 100px;
}
.headingtxt{
    position: absolute;
    bottom: 0;
    color: white;
    left:31px;
    font-size: 31px;
}
.textdata{
    color: #488AFF;
    font-weight: 600;
}