<ion-content>
  <div class="imagebox">
    <div class="overlay">
      <div class="headingtxt">
        <p>Sign up</p>
      </div>
    </div>
  </div>
  <div class="formbox">
    <ion-item>
      <ion-label position="floating"> Full Name</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <div class="buttonholder">
      <ion-button expand="block" shape="round">Sign Up</ion-button>
    </div>
    <div class="textdata ion-text-center" routerLink="/login">
      <p> Already have an account</p>
    </div>


  </div>







</ion-content>