<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center"> </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="imagecontainer ">

    </div>
  </div>

  <div class="labelcont">
    <div class="logocircle">

    </div>
    <div class="detailsbox">
      <h5>Tanmaya Home Service</h5>
      <p> All types of cleaning Service</p>
    </div>
  </div>


  <div class="abtservice">
    <div class="abtheading">
      <p> About service</p>
    </div>
    <div class="abtinfo">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo animi omnis ipsum nihil pariatur
      architecto voluptates, quisquam ab officiis impedit voluptatum fugit odit quasi laborum sed dignissimos nam
      asperiores est quis iste. Pariatur quisquam rerum possimus libero eveniet. Earum neque nemo quasi.

      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In eligendi temporibus est, dolore sequi minus minima
      corporis molestias enim suscipit dignissimos magni quo ea quas tenetur. Odio dolor officiis repellat!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint itaque omnis nostrum aliquam repellendus quasi
      consequatur, aspernatur quod libero error vel magni similique quisquam consectetur tempore, a accusantium.
      Excepturi

    </div>
  </div>

  <div class="btnbox">
    <ion-button shape="round">book Now</ion-button>


  </div>

</ion-content>